@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>


<div class="text-center">
    <h1 class="display-4">Repo Legislativo</h1>
</div>

<br>
<br>

<div class="row">
  <div class="col-md-6">
   <h1>¿Por qué repositorio un legislativo sobre el Covid-19? </h1>
  </div>
  <div class="col-md-6">

      <p> Des de el inico de la pandemia genera por el Covid-19, los distintos organismos han 
          emitido un amplio conjunto de normas (decretos, leyes, ordenanzas, resoluciones, etc.) 
          que han intentado regular la vida social en ete contexto de excepción. Todas y cada una 
          de ellas han sido publicas en los respectivos boletines oficiales. 
          Sin embargo no existe un ámbito en el que las personas, empresas 
          o prefisionales interesados o alcanzados por esta regulación puedan acceder
          a ella de froma sistemática y ordenada. Esta aplicación pretende disponibilizar de forma
          rapida y sencilla el enorme número de normas que encuadran la "nueva normalidad"
          </p>


  </div>
</div>
